 .imageClass{
    width:200px;
    height:200px;
    border:3px solid black;
}
 .row{
    
    display:flex;
    justify-content: space-evenly;
    align-content: space-between;
}
.panel-title{
    border:3px solid black;
    height:5vh;
    width:75vw;
    color:black;
    size:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;;
}
.vertical-align{
    display:flex;
    align-items:center;
}
